<% provide(:title, @post.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @post.title %></h1>
      <span class="post-body">
        <%= @post.body %>
      </span>
    </section>
  </aside>    
</div>  
